/*
 * CSS for Accessible University Demo Site
 * http://uw.edu/accesscomputing/AU
 *
 * after-modal.css = Styles for accessible modal
 */

button#openDialog { 
	font-size: 1.05em;
	margin: 0.5em 0 1em;
}
#modalMask {
  position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.75;
	z-index: 10;
	display: none;
}
#modalContent {
	padding: 0; 
	background-color: white;
}
h1#modalHeading {
	background-color: #2A194C; 
	color: white;
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  margin: 0;
	padding: 0.25em;
}
#modalContent ol {
  /* width: 30em; */
  margin: 1em;
	padding: 0 1em;
	line-height: 1.5em;
}
#modalContent button:hover, 
#modalContent button:focus { 
	border: 2px solid skyblue;
}
button#modalClose {
  position: absolute;
  right: 5px;
  top: 5px;
	font-weight: bold;
}
button#modalOk {
	margin: 0 0.5em 1em;
	font-weight: bold;
	font-size: 1.1em;
}
#modalContent::backdrop { 
	background-color: black;
	opacity: 0.75;
}
