/*
 * CSS for Accessible University Demo Site
 * http://uw.edu/accesscomputing/AU
 *
 * after-menu.css = Styles for accessible dropdown menu
 */

nav { 
	margin-bottom: 3em;
}
ul#menu {
  margin: 0 0.75em;
	padding: 0;
	z-index: 30;
}
#menu > li {
	position: relative;
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left;
	background-color: #E9E9ED;
  padding: 0;
	margin: 0.25em;
	border-left: 1px solid #BBB;
	border-top: 1px solid #AAA;
	border-right: 2px solid #999;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
#menu li button {
	padding: 0.25em 2em 0.25em 1em;
	font-size: 1em;
	border: none;
	color: #39275b; /* for WCAG 2.0 AAA conformance */
	color: #5a667a; /* for WCAG 2.0 AA conformance */
}
#menu li a {
	padding: 0.25em 1em;
  display: block;
	color: #39275b; /* for WCAG 2.0 AAA conformance */
	color: #5a667a; /* for WCAG 2.0 AA conformance */
	text-decoration: none;
}
#menu li ul {
  display: none;
  list-style-type: none;
	background-color: #E9E9ED;
	margin: 4px 0 0 0;
	padding: 0;
	width: 12em;
  position: absolute;
	border: 1px solid #AAA;
	border-right: 2px solid #999;
	z-index: 30;
}
#menu li ul li {
  margin: 0;
  padding: 0;
  border-bottom: thin solid #CCC;
}
#menu li button::after {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		border-left: 0.5em solid transparent;
		border-right: 0.5em solid transparent;
		border-top: 0.5em solid #39275b; /* for WCAG 2.0 AAA conformance */	
		border-top: 0.5em solid #5a667a; /* for WCAG 2.0 AA conformance */		
		top: 0.65em;
		right: 0.5em;
}
#menu button:hover,
#menu button:focus,
#menu a:hover,
#menu a:focus {
  background: #39275b;
	color: #FFF;
	outline: none;
}
#menu li button:hover:after, 
#menu li button:focus:after {
	border-top: 0.5em solid white !important;
}
