/* 
 * CSS for Accessible University Demo Site 
 * http://uw.edu/accesscomputing/AU
 *
 * after-main.css = Styles for accessible version
 */
  
/* 
 * Overall structure 
 * (HTML uses semantic elements) 
 * 
 */  

main { 
  width: 75%; 
	float: left;
	padding-right: 1em;
	margin-bottom: 2em;
}
main p img { 
  float: left;
	padding: 0 0.25em 0.25em 0;
}
aside { 
  width: 20%; 
	float: right; 
	border: 2px solid #39275B;
	background-color: #cccce0;
	padding: 0 0.75em;
	margin-bottom: 2em;
}
footer { 
  clear: both;
	font-size: 0.9em;
	width: 100%;
	padding: 1em 0.5em;
	border-top: 3px solid #514273;
}

/* 
 * Standard HTML Elements 
 *
 */
a { 
	text-decoration: underline;
}

/* 
 * Clear visible focus 
 * for mouse users (hover) 
 * and keyboard users (focus)
 *
 */
a:hover, a:focus { 
  color: #FFF;
  background-color: #000;
  text-decoration: none;
}
input:focus { 			
  border-color: #CCCCE0;
}

/* 
 * Form styles		
 *
 */
.required { 
  font-weight: bold;
}
 
/* 
 *
 * Text CAPTCHA 
 * 
 */
#captcha h2 { 
  font-size: 1.1em;
  margin-bottom: 0.25em;
}
#captcha_label { 
  display: block;
}
#captcha p { 
  margin-top: 0.25em;
}
		
/* 
 * 
 * Somewhat Responsive 
 *
 */
@media (max-width: 1175px) { 
  main { 
    width: 70%;
  }
}
@media (max-width: 985px) { 
  main { 
    width: 65%;
  }
}
@media (max-width: 850px) { 
  main { 
    width: 60%;
  }
}
@media (max-width: 750px) { 
  main, aside { 
    float: none;
  }
  main { 
    width: 100%;
  }
  aside { 
    margin-bottom: 1em;
  }     
}       
		
