/*
 * CSS for Accessible University Demo Site
 * http://uw.edu/accesscomputing/AU
 *
 * after-main.css = Styles for accessible version
 */

/*
 * Overall structure
 * (HTML uses semantic elements)
 *
 */

main {
  width: 73%;
  clear: left;
	float: left;
	padding: 0 1%;
	margin: 0 0 2em;
}
main p img {
  float: left;
	padding: 0 0.25em 0.25em 0;
}
aside {
	float: right;
  width: 22%;
	margin: 0;
	padding: 0 1%;
	border: 2px solid #39275B;
	background-color: #E9E9ED;
}
footer {
  clear: both;
	font-size: 0.9em;
	width: 100%;
	padding: 1em 0.5em;
	border-top: 3px solid #514273;
}

/*
 * Standard HTML Elements
 *
 */
h1 {
  margin: 1em 0 0;
  padding: 0;
}
h2 {
  font-weight: normal;
  font-size: 1.6em;
  margin: 0.75em 0;
}
h3 {
  font-size: 1.2em;
  margin: 0.5em 0;
}
a {
	text-decoration: underline;
}

/*
 * Clear visible focus
 * for keyboard users
 *
 */
main :focus,
form :focus,
footer :focus {
  outline: 3px solid #6CF !important;
}

/*
 *
 * Skip to main content link
 *
 */
#skip-link a {
	background-color: #2A194C;
  color: white;
	width: 10em;
	padding: 0.5em;
	text-align: center;
	margin: 0 0 1em;
  /* visibly hidden (positioned off-screen) by default */
  position: absolute;
  top: -40px;
  left: 0px;
}
#skip-link a:focus { 
  /* move into visible focus */
  top: 0.5em;   
  left: 1em;
}

/*
 * Horizontal line moved to CSS background since its purely decorative
 *
 */
.section {
  margin-left: 0.25em;
  padding-bottom: 1em;
  background: url('../images/line_gradient.gif') bottom left no-repeat;
}
.section:last-child {
  background: none;
}


/*
 * Visibly hidden content, for screen readers only
 *
 */
.clipped {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/*
 *
 * Button for triggering modal dialog
 *
 */
button#open_short_list { 
  font-size: 1.1em;
  margin: 1em;
}

/*
 *
 * Enrollment Table
 *
 */
 table#enrollment th { 
  background-color: #f0ecf9;
}
table#enrollment caption { 
  text-align: left;
  margin: 0 1em 1.5em;
  padding: 0;
}

/*
 *
 * Somewhat Responsive
 *
 */

 @media (max-width: 1250px) {
  /* not wide enough for outside margins */
  #content {
    width: 98%;
    margin:0;
    padding: 1em;
  }
}
@media (max-width: 1050px) {
  /* point at which Application form  drops below content */
  main {
    width: 100%;
  }
  #appForm {
    float: left !important;
    width: 100% !important;
    max-width: 40em;
  }
}
