/*
 * CSS for Accessible University Demo Site
 * http://uw.edu/accesscomputing/AU
 *
 * after-carousel.css = Styles for accessible carousel
 */

/*
 * CSS for Accessible University Demo Site
 * http://uw.edu/accesscomputing/AU
 *
 * before-carousel.css = Styles for inaccessible carousel
 */

 #carousel {
  position: relative;
  background-color: #000;
  text-align: center;
  margin: 0;
  width: 100%;
  max-width: 100%;
}
#carousel .slide {
  display: none;
  position: relative; 
  text-align: center;
  color: #f0f2f5;
}
#carousel .slide .caption {
  font-size: 2.5em;
  position: absolute;
  bottom: 0; 
  left: 50%; 
  transform: translate(-50%, -50%);
  background-color: black;
  padding: 0.1em 0.5em;
  opacity: .75;
}
#carousel .slide img {
  width: 100%;
  object-fit: cover;
}
#carousel .slide.current {
  display: block;
  z-index: 10;
}
/*
 *
 * Prev/Next buttons
 *
 *
 */

 
#carousel #controls div[role="button"] {
  position: absolute;
  width: 0; 
  height: 0;
  top: 30%;
  z-index: 20;
  background-color: #24194C;
  outline: 5px solid #539;
}
#btn-prev {
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;   
  border-right: 40px solid #E9E9ED;   
  left: 15px;
}
#btn-next {
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;  
  border-left: 40px solid #E9E9ED;
  right: 15px;
}

/*
 *
 * Slide Indicators (Lentils)
 *
 *
 */
ul.lentils {
  list-style-type: circle;
}
.lentils li {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin: 10px;
  text-indent: 0;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: #FFF;
  box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);  
}
.lentils li span { 
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
  vertical-align: middle;
  width: 30px;
  height: 30px;
}
.lentils li.active, 
.lentils li span:focus, 
.lentils li:hover { 
  outline: 5px solid skyblue !important;
  border-radius: 50%;
}
.lentils li.active { 
  background-color: #FF9; /* yellow */
}

