/* 
 * CSS for Accessible University Demo Site 
 * http://uw.edu/accesscomputing/AU
 *
 * before-menu.css = Styles for inaccessible dropdown menu
 */
  

		/* Dynamic menu styles */
		#menu {	
			margin: 0;
			padding: 0;
			z-index: 30
		}
		#menu li {	
			margin: 0;
			padding: 0;
			list-style: none;
			float: left;
		}
		#menu li a {
			display: block;
		}
		#menu li img { 
			border: 0;
			margin: 0;
			padding: 0;
			width: 80px;
			height: 27px;
		}
		#menu div {	
			position: absolute;
			display: none;
			margin: 0;
			padding: 0;
			background-color: #EBEFE1;
			border: 1px solid #868784;
			font-size: 10px;
			width: 100px; 
		}
		#menu div a	{	
			position: relative;
			display: block;
			margin: 0;
			padding: 5px 10px;
			width: auto;
			white-space: nowrap;
			text-align: left;
			text-decoration: none;
			background: #EAEBD8;
			font: 11px arial; 
			color: #9BA6B5;
		}
		#menu div a:hover {	
			background: #49A3FF;
			color: #FFF
		}
