/* 
 * CSS for Accessible University Demo Site 
 * http://uw.edu/accesscomputing/AU
 *
 * main.css = Shared styles
 */
  
/* 
 * Overall structure 
 * 
 */  
body { 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: black;
  background-color: #2A194C;
}
#content { 
  width: 80%;
  margin: 0 auto;
  padding: 1em;
  background: white;
  border-left: 2px solid black;
}

/* 
 * Form Styles
 *
 */

form > div { 
  margin: 1em 0;
}
form h2 { 
  font-weight: bold;
  font-size: 1.2em;
}
form input[type="text"] { 
  width: 100%;
}
div#majors { 
  width: 10em;
}
fieldset { 
  border: none;
  margin-left: 0;
  padding-left: 0;
}
legend { 
  margin-left: 0;
  font-weight: bold;
}
form div.major {
  display: block;
	position: relative;
	margin: 0;
	width: 10em;
}
.major input {
  float: right;
	position: absolute;
	right: 0;
}

/* 
 * 
 * Custom Styles 
 *
 */
.section img { 
  float: left;
  padding: 0 0.5em 0; 
}
#errorMsg { 
  background-color: #FFFFCC;
  border: 2px solid #39275B;
  padding: 0.25em 0.75em;
  font-weight: bold;
  margin: 1em 0;
  display: none;
}   

/* 
 *
 * Enrollment Table 
 *
 */
table#enrollment { 
  background-color: black;
  margin-bottom: 1em;
}
table#enrollment th, table#enrollment td { 
  background-color: white;
  padding: 1px;
  width: 3em;
  text-align: center;
}
